{{ $address := .Site.Params.address}}
<section class="contact" id="contact">
  <div class="container-fulid">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <!-- {{ $map := .Site.Params.map }}
        <div id="map" data-lat={{ $map.latitude }} data-long={{ $map.longitude }} data-pin={{ $map.pinImage | absURL }}>
        </div> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.8531801044433!2d139.74286491551106!3d35.70523043626227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c4f7c06b41d%3A0xb087e490dde3c619!2z44OZ44Or44K144O844Or6aOv55Sw5qmL44OV44Kh44O844K544OI!5e0!3m2!1sja!2sjp!4v1667055784246!5m2!1sja!2sjp" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-lg-6">
        <div class="contact-aria">
          <h3>
            {{ $address.address | safeHTML }}
          </h3>
          <ul>
            <li> <a href="mailto:{{ $address.email }}">{{ $address.email }}</a></li>
            <li><a href="tel:{{ $address.phone}}">{{ $address.phone }}</a></li>
          </ul>
          <p>
            {{ $address.openingDesc }}
          </p>
          <p>{{ $address.openingHours }}</p>
        </div>
      </div>
    </div>
  </div>
</section>